.projects {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project {
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
